@charset "UTF-8";
.bef-exposed-form.top-reset .form-row {
  display: flex;
  flex-direction: column;
}
.bef-exposed-form.top-reset .form-row .form-actions {
  order: -1;
  width: 100%;
  margin-bottom: 15px;
}
.bef-exposed-form.top-reset .form-row .form-actions .button {
  width: 100%;
}
.bef-exposed-form.bef-vertical-style legend {
  font-size: 20px;
  font-weight: 700;
  color: #1E5288;
  list-style: none;
}
.bef-exposed-form.bef-vertical-style .js-form-item, .bef-exposed-form.bef-vertical-style .form-item {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}
.bef-exposed-form.bef-vertical-style .js-form-item .form-check-label, .bef-exposed-form.bef-vertical-style .form-item .form-check-label {
  margin-left: 6px;
}
.bef-exposed-form.bef-vertical-style .js-form-item summary, .bef-exposed-form.bef-vertical-style .js-form-item input, .bef-exposed-form.bef-vertical-style .form-item summary, .bef-exposed-form.bef-vertical-style .form-item input {
  position: relative;
  list-style-type: none;
  padding: 0;
  font-weight: 700;
}
.bef-exposed-form.bef-vertical-style .js-form-item summary:marker, .bef-exposed-form.bef-vertical-style .js-form-item input:marker, .bef-exposed-form.bef-vertical-style .form-item summary:marker, .bef-exposed-form.bef-vertical-style .form-item input:marker {
  color: #fff;
  z-index: -5;
}
.bef-exposed-form.bef-vertical-style .js-form-item summary:after, .bef-exposed-form.bef-vertical-style .form-item summary:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #1E5288;
  border-right: 2px solid #1E5288;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(135deg);
}
.bef-exposed-form.bef-vertical-style .js-form-item summary[aria-pressed=true]:after, .bef-exposed-form.bef-vertical-style .form-item summary[aria-pressed=true]:after {
  transform: rotate(-45deg);
}
.bef-exposed-form.bef-vertical-style ul {
  list-style: none;
  padding-left: 0;
}
.bef-exposed-form.bef-vertical-style ul li:not(.has-nested-ul) {
  margin-left: 20px;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul.open > div label:after {
  content: "–";
}
.bef-exposed-form.bef-vertical-style .has-nested-ul.open ul {
  max-height: initial;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul > div {
  padding-left: 0;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul > div > input {
  display: none;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul > div label {
  font-weight: 600;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul > div label:after {
  position: absolute;
  content: "+";
  width: 9px;
  height: 9px;
  top: 0;
  right: 0;
  bottom: 14px;
  margin: auto;
  color: #0C234B;
}
.bef-exposed-form.bef-vertical-style .has-nested-ul ul {
  padding-left: 21px;
  overflow: hidden;
  max-height: 0;
}
.bef-exposed-form.bef-vertical-style .form-actions {
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
.bef-exposed-form.bef-vertical-style .form-type-select {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.bef-exposed-form.bef-vertical-style .form-type-select .form-select {
  display: block;
  width: 100%;
  padding: 6px;
}
.bef-exposed-form.bef-vertical-style .form-radios ul {
  list-style: none;
  padding-left: 0;
}/*# sourceMappingURL=az-bef-extend.css.map */