.bef-exposed-form{
  &.top-reset {
    .form-row{
      display: flex;
      flex-direction: column;

      .form-actions{
        order: -1;
        width: 100%;
        margin-bottom: 15px;

        .button{
          width: 100%;
        }
      }
    }
  }

  &.bef-vertical-style{
    legend{
      font-size: 20px;
      font-weight: 700;
      color: #1E5288;
      list-style: none;
    }
    .js-form-item, .form-item{
      border-bottom: 1px solid #ccc;
      padding: 12px 0;
      .form-check-label{
          margin-left: 6px;
      }
      summary, input{
        position: relative;
        list-style-type: none;
        padding: 0;
        font-weight: 700;
        &:marker{
          color:#fff;
          z-index:-5;
        }
      }
      summary{
        &:after{
          position: absolute;
          content: '';
          width: 9px;
          height: 9px;
          border-top: 2px solid #1E5288;
          border-right: 2px solid #1E5288;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotate(135deg);
        }

        &[aria-pressed="true"] {
          &:after{
            transform: rotate(-45deg);
          }
        }
      }
    }
    ul{
      list-style: none;
      padding-left: 0;
      
      li{
          &:not(.has-nested-ul){
              margin-left: 20px;
          }
      }
    }
    .has-nested-ul{
        &.open{
            > div{
                label{
                    &:after{
                        content: "–";
                    }
                }
            }
            ul{
                max-height: initial;
            }
        }
      >  div{
        padding-left: 0;
        > input{
            display: none;
        }
        label{
          font-weight: 600;
          pointer-events: none;
            &:after{
              position: absolute;
              content: '+';
              width: 9px;
              height: 9px;
              top: 0;
              right: 0;
              bottom: 14px;
              margin: auto;
              color: #0C234B
            }
        }
      }
      ul{
        padding-left: 21px;
        overflow: hidden;
        max-height: 0;

        li div{
          padding-left: 18px;
        }
      }
    }
    .form-checkboxes.bef-checkboxes{
      padding-left: 21px;
    }
    .form-actions{
      padding-bottom: 24px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 0;
    }
    .form-type-select {
      width: 100%;
      padding-bottom: 24px;
      border-bottom: 1px solid #ccc;
      .form-select{
        display: block;
        width: 100%;
        padding: 6px;
      }
    }

    .form-radios ul{
      list-style: none;
      padding-left: 0;
    }
  }
}
